html {
  box-sizing: border-box;
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 1.5;
  background-color: #f2f1ed;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: contents;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.logo {
  max-width: 14rem:
}

h2 {
  font-family: 'Patua One', cursive;
  color: #30658d;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  font-family: 'Patua One', cursive;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

main {
  display: flex;
}
