html {
  box-sizing: border-box;
  font-family: "Georgia", serif;
  background-color: #f2f1ed;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: contents;
}

body {
  display: grid;

}

.logo {
  width: 14rem:
}

h2 {
  font-family: 'Patua One', cursive;
  color: #30658d;
}

li {
  font-family: 'Patua One', cursive;
  color: #fff;
}
