html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f2f1ed;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: contents;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  gap: 1rem;
  grid-template-areas:
    "pano  pano"
    "main  main";
}

h1 {
  width: 14rem;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  align-items: end;
  margin: 0;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
  margin-bottom: 0;
}

nav {
  z-index: 1;
  grid-column: 2;
  grid-row: 1;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
  padding: 1rem;
}

a {
  color: #fff;
}

main {
  display: contents;
  grid-area: main;
}

.pano {
  grid-area: pano;
}

figure {
  margin: 0;
}

p {
  margin: 0;
}
